<h1> <%= @user.username %> </h1>
<h3> Average Score: <%= @user.average_score %> </h3><br>
<h3> Ratings </h3>
<ul>
    <% @user.ratings.each do |rating| %>
        <% subject = rating.subject %>
        <li> Subject: <a href="/subjects/<%= subject.id %>"><%= subject.name %></a> (<%= subject.comp_score %>)<br>
        Score: <%= rating.score %> <br>
        Review: <%= rating.review %> </li><br>
    <% end %>
</ul>