<h1> <%= @user.username %> </h1>
<h3> Average Score: <%= @user.average_score %> </h3><br>
<h3> My Ratings </h3>
<ul>
    <% @user.ratings.each do |rating| %>
        <% subject = rating.subject %>
        <li> Subject: <a href="/subjects/<%= subject.id %>"><%= subject.name %></a> (<%= subject.comp_score %>)<br>
        Score: <%= rating.score %> <br>
        Review: <%= rating.review %> </li>
        <a href="/ratings/subjects/<%= subject.id %>/users/<%= @user.id %>">View Rating</a> <br>
        <a href="/subjects/<%= subject.id %>/ratings/edit">Edit Rating</a> <br>
        <form method="POST" action="/subjects/<%= subject.id %>/ratings/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type='submit' value="Delete Rating">
        </form>
        <br>
    <% end %>
</ul>