<h2>Rating for <a href="/subjects/<%= @subject.id %>"><%= @subject.name %></a></h2>
<h3>from <%= @user.username %> </h3>
<p>
    Score: <%= @rating.score %> <br>
    Review: <%= @rating.review %> <br><br>
</p>